.form-container {
    border: 1px solid black;
    background: white;
    padding: 10px 20px;
    border-radius: 30px;
}

.index-container {
    height: 100vh;
    background-image: url('../img/landArt1.jpg');
    background-size: cover;
}

.row {
    height: 100%;
}

.img-row {
    height: 50vh;
    background-image: url('../img/landArt6.jpg');
    background-size: cover;
}

.decks-img-row {
    height: 50vh;
    background-image: url('../img/landArt10.jpg');
    background-size: cover;
}

.hide-auth-error {
    visibility: hidden;
  }

.deck-info-col, .new-deck-info-col {
    border-right: 1px solid lightgrey;
    height: 30vh;
}

.library-img {
    margin: 10px;
}

.selected {
    opacity: .5;
}

.success-display {
    opacity: 0;
    color: #40E86B;
    transition: opacity .5s; 
}

.remove-success-display {
    opacity: 0;
    color: #FF3C40;
    transition: opacity .5s;
}

.show {
    opacity: 1;
}

.hide {
    display: none;
}

.size {
    width: 250px;
}
