@font-face {
    font-family:"Beleren";
    src: url("./beleren_font/Beleren-Bold.ttf")
}

.form-container {
    border: 3px ridge darkgray;
    padding: 10px 20px;
    /* border-radius: 30px; */
    background-color: #4F4F4F;
    color: black;
}

.index-container {
    height: 100vh;
    background-image: url('../img/landArt1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.row {
    height: 100%;
}

.img-row {
    height: 50vh;
    background-image: url('../img/landArt6.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.decks-img-row {
    height: 50vh;
    background-image: url('../img/landArt10.jpg');
    background-size: cover;
}

.hide-auth-error {
    visibility: hidden;
  }

.deck-info-col, .new-deck-info-col {
    border-right: 1px solid lightgrey;
    height: 30vh;
}

.library-img {
    margin: 10px;
}

.selected {
    opacity: .5;
}

.success-display {
    opacity: 0;
    color: #40E86B;
    transition: opacity .5s; 
}

.remove-success-display {
    opacity: 0;
    color: #FF3C40;
    transition: opacity .5s;
}

.show {
    opacity: 1;
}

.hide {
    display: none;
}

.size {
    width: 250px;
}

.navbar {
    font-family:'Beleren', sans-serif;
    background-color: #4F4F4F;
    width: 100%;
    color: black;
    border-top: 3px ridge #F1B94B;
    border-bottom: 3px ridge #F1B94B;
}

.mtg-logo {
    height: 50px;
    width: 50px;
}

.your-account-name {
    margin-bottom: 0px;
    /* margin-right: 25px; */
    font-size: 20px;
}

.beleren {
    font-family:'Beleren', sans-serif;
}

.login-form {
    margin-top: 20px;
}

.form-container {
    background-color: #4F4F4F;
    color: black;
}

.library-cont {
    background-image: url('../img/topography.png');
    padding-top: 25px;
}

.nav-button {
    border: none;
    font-size: 25px;
    color: #F1B94B;
    transition: .4s ease;
    /* background-color: black; */
}

.nav-button:hover {
    background-color: #F1B94B;
    color: black;
}

.add-card-to-lib-button, .remove-card-to-lib-button {
    background-color: black;
    border: black;
}

.add-card-to-lib-button:hover, .remove-card-to-lib-button:hover {
    background-color: #4F4F4F;
    color: #F1B94B;
}